html {     
    background-color: rgb(106, 173, 255);
}  

* {
    margin: 0;
}

fieldset {
    width: 50%;
    margin: 3.5vh auto;
    background-color: rgb(220, 201, 153);
   
}

#h1, #first-container, #second-container {
    text-align: center;            
}

#h1 {
    margin-bottom: 2rem;
}

.container{
    margin: 2rem  auto;
}

label{
    font-size: 1.2rem;
}

input{
    width: 4rem;
    text-align: center;
    font-size: 1.3rem;
}

#first-container {
    margin:0;
}


#tip-amt, #total-bill {
    font-weight: bold;
    font-size: 1.4rem;
}

#clear, #calculate {
    font-size: 1rem;
}

#img-div {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 80%;
    display: flex;
    justify-content: center;
}

img {
    width: 35%;
    height: 35%;
    border: 0.5rem black inset;
}

footer {
    display: flex;
    background-color: #1F2937;
    color: white;
    font-size: 16px;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
}

footer p {
    margin: auto;
}

@media screen and (min-width: 250px) and (max-width: 450px) {
    img {
        width: 70%;
        height: 70%;
    }
}